@media only screen and (max-width: 700px)

.openbtn {
align-self: flex-end;
width: 60px;
height: 60px;
margin: 49px;
background:none;
border:none;
font-family: system-ui;
font-size: 22px;
color: #1b1c1c;
}

.sidemenu .closebtn {
display: none;
width: 49px;
height: 49px;
margin: 20px;
margin-left: 149px;
background: none;
border: none;
font-family: system-ui;
font-size: 22px;
color: #1b1c1c;
}

.sidemenu {
display: flex;
width: 100%;
height:100%;
backround-color: #ffffff;
font-family: system-ui;
display: none;
 }

.sidemenu ul {
list-style-type: none;
font-family: system-ui;
margin: 0;
padding: 0;
overflow: hidden;
margin-top: 129px;
margin-left: 449px;
margin-bottom: 229px;
}

.sidemenu a {
font-family: system-ui;
color: #1b1c1c;
text-decoration: none;
font-size: 22px;
}

.sidemenu a:active {
font-family: system-ui;
color: #1b1c1c;
text-decoration: none;
font-size: 22px;
}

h1 { 
align-self: center;
font-family: system-ui;
font-weight: 20px;
font-size: 29px;
margin-top: 29px;
margin-bottom: 49px;
color: #1b1c1c;
}

.prdbox {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.prd {
align-self: center;
width: 600px;
height: 2000px;
margin-bottom: 79px;
}

.prd h {
align-self: center;
font-family: system-ui;
font-weight: 100%;
font-size: 100%;
color: #1b1c1c;
}

.prd p {
align-self: center;
font-family: system-ui;
color: #1b1c1c;
}

.connect {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.connect h1 { 
align-self: center;
​​font-family: system-ui;
font-weight: 20px;
font-size: 29px;
margin-top: 29px;
margin-bottom: 29px;
color: #1b1c1c;
}

form {
align-self: center;
display: flex;
flex-direction: column;
width: 400px;
height: 400px;
}

.name {
display: flex;
}

.fname input[type=text] {
flex: 1;
border-color: #1b1c1c;
border-radius: 9px;
width: 190px;
height: 20px;
font-family: system-ui;
margin: 10px;
}

.email input[type=text] {
border-color: #1b1c1c;
border-radius: 9px;
width: 414px;
height: 20px;
font-family: system-ui;
margin: 10px;
}

.subject input[type=text] {
border-color: #1b1c1c;
border-radius: 9px;
width: 414px;
height: 200px;
font-family: system-ui;
margin: 10px;
}

.submitbtn {
align-self: center;
width: 90px;
height: 29px;
margin-top: 22px;
margin-left: 170px;
background-color: #ffffff;
border-color: #1b1c1c;
border-radius: 20px;
display: inline-block;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.submitbtn:hover {
align-self: center;
width: 90px;
height: 29px;
margin-top: 22px;
margin-left: 170px;
background-color: #ffffff;
border-color: #717171;
display: inline-block;
border-radius: 20px;
box-shadow: 0px 10px 22px;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.submitbtn:active {
align-self: center;
width: 90px;
height: 29px;
margin-top: 22px;
margin-left: 170px;
background-color: #717171;
border-color: #717171;
display: inline-block;
border-radius: 20px;
font-family: system-ui;
font-size: 12px;
color: #ffffff;
} 

.homebox {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.home {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.home .homeh {
align-self: center;
width: 299px;
height: 200px;
font-family: system-ui;
font-size: 49px;
}

.home .homep {
align-self: center;
width: 299px;
height: 400px;
font-family: system-ui;
font-size: 20px;
margin-top: 129px;
margin-bottom: 79px;
}

.homeul {
align-self: center;
}

.home ul {
align-self: center;
list-style-type: none;
font-family: system-ui;
font-size: 22px;
margin-top: 49px;
margin-bottom: 79px;
}

.home a {
text-decoration: none;
color: #1b1c1c;
}

.home a:hover {
text-decoration: none;
color: #717171;
}

.imghome {
display: flex;
align-self: center;
margin-top: 79px;
}

.imghome img {
padding: 7px;
}

.imghome .img1 {
flex: 1;
margin-top: 0;
padding: 2px;
}

.imghome .img2 {
margin-top: 2.29px;
padding: 2px;
}

.home .buttonp {
align-self: center;
width: 290px;
height: 29px;
margin-top: 49px;
}

.home .homebtn {
align-self: center;
width: 90px;
height: 29px;
margin-top: 79px;
font-size: 1em;
background-color: #ffffff;
border-color: #1b1c1c;
display: inline-block;
border-radius: 20px;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.home .homebtn:hover {
align-self: center;
width: 90px;
height: 29px;
margin-top: 79px;
background-color: #ffffff;
border-color: #717171;
display: inline-block;
border-radius: 20px;
box-shadow: 0px 10px 22px;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.imprbox {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.impr {
align-self: center;
display: flex;
flex-direction: column;
width: 400px;
heigth: 2000px;
margin-left: 299px;
margin-bottom: 79px;
}

.impr h {
align-self: center;
font-family: system-ui;
margin: 11px;
}

.impr .img {
align-self: center;
margin-top: 20px;
}

@media only screen and (min-width: 770px)

.openbtn {
align-self: flex-end;
display: none;
width: 60px;
height: 60px;
margin: 49px;
background: none;
border: none;
font-family: system-ui;
font-size: 22px;
color: #1b1c1c;
}

.sidemenu .closebtn {
background: none;
border: none;
color: #ffffff;
}

.sidemenu ul {
list-style-type: none;
font-family: system-ui;
overflow: hidden;
margin-top; 29px;
margin-left: 449px;
margin-bottom: 100px;
}

.sidemenu li {
float: left;
}

.sidemenu a {
font-family: system-ui;
color: #1b1c1c;
text-decoration: none;
margin-left: 22px;
}

.sidemenu a:hover {
font-family: system-ui;
color: #717171;
text-decoration: none;
margin-left: 22px;
}

.sidemenu a:active {
font-family: system-ui;
color: #717171;
text-decoration: none;
}

h1 { 
align-self: center;
​​font-family: system-ui;
font-weight: 20px;
font-size: 29px;
margin-top: 29px;
margin-bottom: 49px;
color: #1b1c1c;
}

.prdbox {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.prd {
align-self: center;
width: 490px;
height: 1000px;
margin-bottom: 79px;
}

.prd h {
align-self: center;
font-family: system-ui;
font-weight: 100%;
font-size: 100%;
color: #1b1c1c;
}

.prd p {
align-self: center;
font-family: system-ui;
color: #1b1c1c;
}

.connect {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.form {
align-self: center;
display: flex;
flex-direction: column;
width: 400px;
height: 400px;
}

.name {
display: flex;
}

.fname input[type=text] {
flex: 1;
border-color: #1b1c1c;
border-radius: 9px;
width: 190px;
height: 20px;
font-family: system-ui;
margin: 10px;
}

.email input[type=text] {
border-color: #1b1c1c;
border-radius: 9px;
width: 414px;
height: 20px;
font-family: system-ui;
margin: 10px;
}

.subject input[type=text] {
border-color: #1b1c1c;
border-radius: 9px;
width: 414px;
height: 200px;
font-family: system-ui;
margin: 10px;
}

.submitbtn {
align-self: center;
width: 90px;
height: 29px;
margin-top: 22px;
margin-left: 170px;
background-color: #ffffff;
border-color: #1b1c1c;
border-radius: 20px;
display: inline-block;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.submitbtn:hover {
align-self: center;
width: 90px;
height: 29px;
margin-top: 22px;
margin-left: 170px;
background-color: #ffffff;
border-color: #717171;
display: inline-block;
border-radius: 20px;
box-shadow: 0px 10px 22px;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.submitbtn:active {
align-self: center;
width: 90px;
height: 29px;
margin-top: 22px;
margin-left: 170px;
background-color: #717171;
border-color: #717171;
display: inline-block;
border-radius: 20px;
font-family: system-ui;
font-size: 12px;
color: #ffffff;
} 

.homebox {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.home {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.home .homeh {
align-self: center;
width: 400px;
height: 200px;
font-family: system-ui;
font-size: 49px;
}

.home .homep {
align-self: center;
width: 400px;
height: 400px;
font-family: system-ui;
font-size: 20px;
margin-top: 129px;
}

.homeul {
align-self: center;
}

.home ul {
align-self: center;
list-style-type: none;
font-family: system-ui;
font-size: 22px;
margin-top: 49px;
margin-bottom: 79px;
}

.home a {
text-decoration: none;
color: #1b1c1c;
}

.home a:hover {
text-decoration: none;
color: #717171;
}

.imghome {
display: flex;
align-self: center;
margin-top: 79px;
}

.imghome img {
padding: 7px;
}

.imghome .img1 {
flex: 1;
margin-top: 0;
padding: 2px;
}

.imghome .img2 {
margin-top: 2.29px;
padding: 2px;
}

.home .buttonp {
align-self: center;
width: 290px;
height: 29px;
margin-top: 49px;
}

.home .homebtn {
align-self: center;
width: 90px;
height: 29px;
margin-top: 79px;
font-size: 1em;
background-color: #ffffff;
border-color: #1b1c1c;
display: inline-block;
border-radius: 20px;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.home .homebtn:hover {
align-self: center;
width: 90px;
height: 29px;
margin-top: 79px;
background-color: #ffffff;
border-color: #717171;
display: inline-block;
border-radius: 20px;
box-shadow: 0px 10px 22px;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.impr h1 { 
align-self: center;
font-family: system-ui;
font-weight: 20px;
font-size: 29p;
margin-bottom: 100px;
color: #1b1c1c;
}

.imprbox {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.impr {
align-self: center;
display: flex;
flex-direction: column;
width: 490px;
heigth: 1000px;
margin-bottom: 79px;
}

.impr h {
align-self: flex-start;
font-family: system-ui;
margin: 11px;
}

.impr .img {
align-self: center;
margin-top: 20px;
}
