.box {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.openbtn {
position: -webkit-sticky;
position: sticky;
align-self: flex-end;
width: 60px;
height: 60px;
margin: 49px;
background:none;
border:none;
font-size:1em;
color: #1b1c1c;
}

.openbtn:hover + .sidemenu {
display: block;
}

.sidemenu .closebtn {
width: 49px;
height; 49px;
margin: 20px;
margin-left: 149px;
background: none;
border: none;
font-size: 1em;
color: #ffffff;
}

.sidemenu {
width: 200px;
height: 100%;
margin: 0;
padding: 0;
background-color: #4c4c4b;
position: fixed;
overflow: auto;
display: none;
}

.sidemenu ul {
margin-right: 4px;
margin-top: 299px;
list-style-type: none;
}

.sidemenu a {
display: block;
color: #ffffff;
padding: 16px;
text-decoration: none;
}

.sidemenu .submenu {
display: none;
}

.sidemenu .item:hover + .submenu {
display: block;
}

.prd {
width: 1000px;
heigth: 2000px;
margin-left: 22%;
}

h1 { 
align-self: center;
font-weight: 20px;
font-size: 29px;
margin: 49px;
padding: 0;
color: #1b1c1c;
}

.prd h {
font-weight: 100%;
font-size: 100%;
color: #1b1c1c;
}

.prd p {
font-weight: ;
font-size: ;
color: #1b1c1c;
}

body {
width: 100%;
height: 100%;
backround-color: #f1f1f1;
overflow: hidden;
}

h1 {
text-align: center;
margin-top; 10px;
padding-top: 200px;
}

.box {
display: flex;
flex-direction: column;
align-items: flex-start;
width: 500px;
height: 400px;
margin-left: 499px;
padding: 20px;
}

.name {
display: flex;
}

.fname input[type=text] {
flex: 1;
width: 190px;
height: 20px;
margin: 10px;
}

.email input[type=text] {
width: 414px;
height: 20px;
margin: 10px;
}

.subject input[type=text] {
width: 414px;
height: 200px;
margin: 10px;
}

.submitbtn {
position: fixed;
top: 700px;
left: 692px;
width: 110px;
height: 29px;
margin: 0;
background-color: #ffffff;
border-color: #1b1c1c;
display: inline-block;
border-radius: 20px;
font-size: 12px;
color: #1b1c1c;
}


.submitbtn:hover {
position: fixed;
top: 700px;
left: 692px;
width: 110px;
height: 29px;
margin: 0;
background-color: #717171;
border-color: #717171;
display: inline-block;
border-radius: 20px;
font-size: 12px;
color: #ffffff;
}

.boxhome {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.boxhome .boxh {
align-self: center;
width: 290px;
height: 200px;
}

.boxhome .boxh h {
align-self: center;
font-size: 299%;
margin-top: 49px;
}

.boxhome ul {
align-self: center;
list-style-type: none;
font-size: 149%;
margin-top:49px;
}

.boxhome a {
text-decoration: none;
color: #1b1c1c;
}

.imghome {
display: flex;
align-self: center;
margin-top: 79px;
}

.imghome img {
padding: 7px;
}

.imghome .img1 {
flex: 1;
margin-top: 0;
padding: 2px;
}

.imghome .img2 {
margin-top: 2.29px;
padding: 2px;
}

.boxhome .buttonp {
align-self: center;
width:290px;
height: 29px;
margin-top: 1000px;
}

.boxhome .homebtn {
align-self: center;
margin-top: 79px;
font-size:1em;
background-color: #ffffff;
border-color: #1b1c1c;
display: inline-block;
border-radius: 20px;
font-size: 12px;
color: #1b1c1c;
}

.impr {
display: flex;
flex-direction: column;
width: 1000px;
heigth: 2000px;
margin-left: 22%;
}

.impr h {
margin: 11px;
}
